body {
    background-color: rgb(176, 238, 255);
    height: 100vh;
}

#clockContainer {
    display: flex;
    flex-direction: row;


}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#clock {
    display: flex;
    width: 100%;
}

#dateElement {
    display: flex;

}

#dateElement {
    background-color: rgb(190, 253, 253);
    border-radius: 10%;
    align-items: center;
}

#bottomEl {
    display: flex;
    justify-content: space-between;
}

#clock {
    justify-content: center;
    font-size: 200px;
    padding: 20px;
}

#dateElement>div {
    padding-right: 15px;
    font-size: 40px;
}

#day {
    background-color: rgb(190, 253, 253);
    border-radius: 10%;
    font-size: 50px;
    padding: 40px;
}

#pm{
    background-color: rgb(190, 253, 253);
    border-radius: 10%; 
    margin-left: 28px;

}

#hoursElement {
    background-color: rgb(190, 253, 253);
    border-radius: 10%;
}

#minutesElement {
    background-color: rgb(190, 253, 253);
    border-radius: 10%;

}

#secondsElement {
    background-color: rgb(190, 253, 253);
    border-radius: 10%;
}

#decreaseButton,
#increaseButton {
    color: rgb(0, 0, 0);
    background-color: rgb(190, 253, 253);
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    top: 20;
    font-size: 13px;
    padding: 10px;

}

#suurus {
    color: rgb(0, 0, 0);
    background-color: rgb(190, 253, 253);
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    font-size: 13px;
    padding: 10px;
}

#värv {
    color: rgb(0, 0, 0);
    background-color: rgb(190, 253, 253);
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    padding: 10px;
}

#keel1 {
    color: rgb(0, 0, 0);
    background-color: rgb(190, 253, 253);
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    padding: 10px;
}

#nupud {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    button {
        width: 100px;
    }
}

#tund {
    color: rgb(0, 0, 0);
    background-color: rgb(190, 253, 253);
    border: 1px solid white;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    padding: 10px;

}
