:root {
    --darkRed: rgb(70, 22, 22);
    --lightRed: rgb(255, 120, 120);
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Anta", sans-serif;
    color: white;
    background: radial-gradient(var(--darkRed) 20%, black 80%);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: red;
}

#topContainer {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
}

#backgroundColorButton {
    margin-left: auto;
    margin-right: 15px;
}

#authorRepository{
    margin-left: 10px;
}

#changeBackgroundColorButton {
    background-color: white;
    border: 2px solid red;
    border-radius: 10px;
    font-family: "Anta", sans-serif;
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

#changeBackgroundColorButton:hover {
    background-color: black;
    color: white;
}

#clockContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#clock {
    transition: transform 0.1s ease;
}

#clock, #dateElement, #day {
    display: flex;
}

#dateElement>div{
    padding-right: 10px;
}


#dayElement, #monthElement, #yearElement, #day {
    font-size: 25px;
}

#sliderContainer {
    margin-top: 5px;
}

#fontSizeSlider {
    margin-left: 5px;
    appearance: none;
    height: 10px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#fontSizeSlider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--lightRed);
    cursor: pointer;
}

#fontSizeSlider:hover {
    opacity: 1;
}

#audioContainer {
    display: flex;
    justify-content: center;
}

audio {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.5;
}

audio:hover {
    opacity: 1;
}

audio::-webkit-media-controls-panel {
    background-color: rgba(255, 0, 0, 0.26);
}

audio::-webkit-media-controls-mute-button, audio::-webkit-media-controls-play-button {
    background-color: var(--lightRed);
    border-radius: 50%;
  }

audio::-webkit-media-controls-timeline {
    background-color: var(--lightRed);
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 5px;
}

audio::-webkit-media-controls-volume-slider {
    background-color: var(--lightRed);
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

#timezoneContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#timezoneSelect {
    margin-left: 10px;
    background-color: var(--darkRed);
    color: white;
    border: 2px solid red;
    border-radius: 10px;
    width: 100px;
}